<div id="constructorsContent" style="display: none;">
    <div class="standings-container">
        <div class="standings-table">
            <table>  
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Country</th>
                    <th>Points</th>
                    <th>Wins</th>
                </tr>      
                <tbody id="constructorsTable">
                    <!-- Data will be inserted here -->
                </tbody>
            </table>
        </div>
        <div class="standings-graph" id="constructorsGraph"></div>
    </div>
</div>