<div id="constructorsContent">
    <table>  
        <tr>
            <th>Position</th>
            <th>Constructor</th>
            <th>Country</th>
            <th>Points</th>
            <th>Wins</th>
        </tr>      
        <tbody id="constructorsTable">
            <!-- Data will be inserted here -->
        </tbody>
    </table>

</div>