<div id="driversContent">
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Driver</th>
                <th>Constructor</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody id="driversTable">
            <!-- Data will be inserted here -->
        </tbody>
    </table>
</div>