<div id="driversContent" style="display: none;">
    <div class="standings-container">
        <div class="standings-table">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Driver</th>
                        <th>Constructor</th>
                        <th>Points</th>
                        <th>Wins</th>
                    </tr>
                </thead>
                <tbody  id="driversTable">
                    <!-- Data will be inserted here -->
                </tbody>
            </table>
        </div>
        <div class="standings-graph" id="driversGraph"></div>
    </div>
</div>
