<div id="qualifyingContent">
    <div id="qualifyingList"></div>

    <div id="qualifyingResults" style="display: none;">
        <h3 id="raceTitle"></h3>
        <h4 id="raceLocation"></h4>
        <h4 id="raceDate"></h4>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Driver</th>
                    <th>Constructor</th>
                    <th>Q1</th>
                    <th>Q2</th>
                    <th>Q3</th>
                </tr>
            </thead>
            <tbody id="qualifyingResultsTable">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>
</div>