<div id="racesContent">
    <div id="raceList"></div>

    <div id="raceResults" class="race-info" style="display: none;">
            <h3 id="raceTitle"></h3>
            <h4 id="raceLocation"></h4>
            <h4 id="raceDate"></h4>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Driver</th>
                    <th>Constructor</th>
                    <th>Points</th>
                    <th>Time</th>
                    <th>Fastest Lap</th>
                    <th>Average Speed (kph)</th>
                </tr>
            </thead>
            <tbody id="raceResultsTable">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>
</div>