<div id="sprintsContent">
    <div id="sprintList"></div>

    <div id="sprintResults" style="display: none;">
        <h3 id="sprintTitle"></h3>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Driver</th>
                    <th>Constructor</th>
                    <th>Points</th>
                    <th>Time</th>
                    <th>Fastest Lap</th>
                </tr>
            </thead>
            <tbody id="sprintResultsTable">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>
</div>