:root {
    --background-color: #15151e;
    --primary-color: #f5f5f5;
    --secondary-color: #1d1d1d;
    --tertiary-color: #f4f4f4;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --link-hover-text-color: #fff;
    --link-hover-bg-color: #0056b3;
    --border-radius: 0.5rem;
    --transition: all 0.5s ease;

    /* Constructor Colors (Modular) */
    --f1: #E8002D;

    --mclaren: #FF8000;
    --ferrari: #E8002D;
    --red_bull: #3671C6;
    --mercedes: #27F4D2;
    --aston_martin: #229971;
    --alpine: #FF87BC;
    --haas: #B6BABD;
    --rb: #6692FF;
    --williams: #64C4FF;
    --sauber: #2BDE73;

    --alphatauri: #20394C; 
    --alfa: #9B0000;
    --racing_point: #F596C8;
    --renault: #FFF500;
    --toro_rosso: #00144A;
    --force_india: #FF80C7;
    --manor: #0077FF;
    --lotus_f1: #B6995B;
    --marussia: #B2B2B2;
    --caterham: #005030;
    --hrt: #A6904F;
    --lotus_racing: #004225;
    --virgin: #ED140F;
    --brawn: #B8FD6E;
    --toyota: #EB0A1E;
    --bmw_sauber: #638CB3;
    --honda: #C8C8CA;
    --super_aguri: #E31836;
    --spyker: #FF7F00;
    --mf1: #FF0000;
    --spyker_mf1: #FF7F00;
    --bar: #FFFFFF;
    --jordan: #F1BD00;
    --minardi: #FFFFFF;
    --jaguar: #004225;
    --arrows: #EA883F;
    --benetton: #0060A8;
    --prost: #0000FF;
    --stewart: #FFFFFF;
    --tyrrell: #153480;
    --ligier: #0145B2;
    --footwork: #FF0000;
    --forti: #F0D734;
    --pacific: #2769AA;
    --simtek: #351D75;

    /* 1994 - 1970 teams */
    --larousse: #FF0000;
    --team_lotus: #013A12;
    --lola: #FEDC02;
    --fondmetal: #D92318;
    --dallara: #A72704;
    --brabham: #030D30;
    --march: #293A96;
    --moda: #000000;
    --ags: #02238E;
    --coloni: #FBF049;
    --lambo: #1258FF;
    --leyton: #23E5EE;
    --eurobrun: #ECEDE7;
    --life: #DC0D03;
    --onyx: #374695;
    --osella: #3F6ECA;
    --rial: #DBC62D;
    --zakspeed: #B7190E;
    --ram: #0B5234;
    --spirit: #C11F1A;
    --toleman: #0E1D4F;
    --ats: #FEEF00;
    --theodore: #9D0A13;
    --ensign: #FA405B;
    --fittipaldi: #EBC701;
    --shadow: #161920;
    --brabham-alfa_romeo: #E10602;
    --brabham-ford: #E7E9EC;
    --kauhsen: #0A0A0A;
    --mezario: #FFD12F;
    --rebaque: #F4C14D;
    --wolf: #B9A086;
    --hesketh: #FFFFFF;
    --martini: #CD3137;
    --surtees: #FFFFFF;
    --apollon: #FDBC2B;
    --boro: #AE1C28;
    --brm: #100E61;
    --kojima: #0F1176;
    --lec: #172333;
    --mcguire: #323544;
    --penske: #D0102D;
    --maki: #2988BE;
    --parnelli: #D02B2D;
    --hill: #DF2E38;
    --lyncar: #3A7E6E;
    --shadow-ford: #161920;
    --shadow-matra: #161920;
    --amon: #82B4DC;
    --iso_marlboro: #F04326;
    --token: #246E0A;
    --trojan: #A60918;
    --tecno: #FA2324;
    --connew: #E8CA42;
    --matra: #50A5D8;
    --politoys: #2B3044;
    --bellasi: #FC4301;
    --lotus-ford: #264A30;
    --lotus-pw: #EFC76D;
    --march-alfa_romeo: #AA0C14;
    --march-ford: #2D3796;
    --mclaren-alfa_romeo: #A72317;
    --mclaren-ford: #FD0100;
    --tomaso: #C52000;

}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

  /* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

  /* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background: var(--f1);
    border-radius: 6px;
}

  /* Scrollbar thumb hover state */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'GreaterTheory';
    src: url('/fonts/GreaterTheory.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Milker';
    src: url('/fonts/Milker.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Race Sport';
    src: url('/fonts/Race Sport.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 1s ease-out;
}

.intro-title {
    font-family: 'Race Sport';
    font-size: 5rem;
    color: var(--primary-color);
    animation: fadeIn 0.5s ease-in-out;
}

.loading-bar-container {
    width: 20%;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.loading-bar {
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    animation: load 1s linear forwards;
    position: relative;
}

.car-svg {
    position: absolute;
    top: -14px;
    left: 0;
    width: 40px;
    height: auto;
    animation: drive 0s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes drive {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 40px); /* Adjust this value based on the width of the car */
    }
}

/*  Race Buttons Animation */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.race-btn.animate-in {
    animation: slideIn 0.5s ease-out forwards;
}

/* Table drop down animation */
@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.table-animate-in {
    animation: dropDown 0.5s ease-out forwards;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

html, body {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ! Nav Bar ! */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav h1 {
    font-family: 'Race Sport';
    font-weight: 800;
    font-size: 4rem;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

nav select, .mobileSelect {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--secondary-color);
    font-family: 'GreaterTheory';
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.navBtn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--f1);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--f1);
    padding: 10px 20px;
    margin: 5px;
    font-family: 'GreaterTheory';
    cursor: pointer;
    font-size: 1rem;
    transition: var(--transition);
}

.navBtn:hover {
    background-color: var(--f1);
    color: var(--primary-color);
}

.navBtn.active {
    background-color: var(--f1);
    color: var(--primary-color);
    box-shadow: 0 0 10px 0 var(--f1);
}

/* ! Bar Graph */
.graph-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.graph-code {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: 'GreaterTheory';
    border-radius: var(--border-radius);
}

.graph-bar {
    height: 40px;
    transition: width 0.8s ease;
    margin-right: 10px;
    border-radius: var(--border-radius);
}

.graph-points {
    font-weight: 900;
    font-size: 1rem;
}

/* ! Standings */

.standings-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.standings-table {
    flex: 1; // the table takes up about half the space
}

.standings-graph {
    flex: 1; // the graph takes up about half the space
}

/* ! Table */

.race-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.race-info-row span {
    flex: 1;
    text-align: center;
}

.race-title {
    text-align: left;
}
.race-date {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    color: var(--primary-color);
}

table th {
    background-color: var(--f1);
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    font-family: 'GreaterTheory';
}

table td {
    padding: 10px;
    font-weight: 800;
    border: 1px solid var(--secondary-color);
}

table tr:nth-child(even) {
    background-color: var(--secondary-color);
}

.mobileSelect {
    display: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .intro-title {
        font-size: 3rem;
    }

    .loading-bar-container {
        width: 50%;
    }

    .standings-container {
        flex-direction: column;
        gap: 20px;
    }

    .standings-table table {
        font-size: 0.8rem;
    }

    .standings-table, .standings-graph {
        width: 90%;
    }

    .standings-graph .graph-bar {
        height: 30px;
    }

    .car-svg {
        transform: none !important;
    }

    nav {
        flex-direction: column;
        padding: 0;
    }

    nav h1 {
        font-size: 3rem;
        margin-bottom: 2px;
    }

    nav div {
        margin-bottom: 5px;
    }

    nav select, .navBtn {
        font-size: 0.8rem;
        padding: 2px 8px;
        margin: 2px 0;
    }

    .mobileSelect {
        font-size: 1rem;
        width: 100%;
        display: block;
        text-align: center;
        text-align-last: center;
    }

    .graph-code {
        width: 25px;
        height: 25px;
        font-size: 0.7rem;
    }

    .graph-bar {
        height: 15px;
    }

    .graph-points {
        font-size: 0.7rem;
    }

    .navBtn, .race-btn {
        margin: 5px;
        flex: 1 1 auto;
        max-width: 45%;
    }

    #raceButtonsContainer {
        display: none;
    }
    
    #raceSelectContainer {
        display: block;
    }

    #driversContent tbody, #driversContent thead, #constructorsContent tbody, #constructorsContent thead {
        font-size: 0.79rem;
        padding: 0.4rem 0.1rem;
    }

    #driversGraph, #constructorsGraph {
        padding-left: 10px;
    }

    table {
        font-size: 0.7rem;
    }

    table th, table td {
        padding: 0.4rem 0.1rem;
    }

    #raceResults table tr:not(.info-row) th:last-child,
    #raceResults table tr:not(.info-row) td:last-child {
        display: none;
    }

    footer p {
        font-size: 0.7rem;
    }

    footer img {
        height: 5px;
        width: 5px;
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 0;
}



/* ! Race Buttons */

.race-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--secondary-color);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'GreaterTheory';
    font-size: 1rem;
    transition: var(--transition);
}

.race-btn:hover {
    background-color: var(--primary-color);
    border: solid var(--primary-color);
    color: var(--secondary-color);
}

.race-btn.active {
    background-color: var(--primary-color);
    border: solid var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 10px 0 var(--primary-color);
}

#raceList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// Race Info

.race-info h1 {
    font-size: 1rem;
}

.race-info h3 {
    font-size: 2rem;
}

.race-info h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* ! Footer */

footer {
    margin-top: auto;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #6a6a6a;
    font-size: 1rem;
}

footer p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'
}

footer a {
    color: var(--link-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

footer a:hover {
    color: var(--link-hover-color);
}

footer img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}